.button {
  background: $color-green;
  border-radius: $base-border-radius;
  border: 1px solid $color-green;
  color: $color-white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2ex;
  padding: ($base-block-spacing * .7) $base-block-spacing;
  padding-top: $klima-font-hack;
  text-decoration: none;
  text-transform: uppercase;

  // The klima font hack works fine when applied to <a>'s, but it
  // chokes on <input>'s. The below is soooooo hacky, and I truly hate
  // doing this, but here it is :( This makes the padding on inputs
  // resemble the padding on non-inputs. 0.12 is a magic number that
  // makes it look good. Please someone fix this later.
  @at-root input#{&} {
    padding-top: $klima-font-hack - 0.12;
    padding-bottom: $klima-font-hack - 0.12;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid $color-gray;
  border-radius: 0;
  font-size: 1rem;
  line-height: 1.4;
  padding: ($base-block-spacing * .7) $base-block-spacing;
}

// Remove annoying inner shadow in iOS input boxes
input:not([type='checkbox']):not([type='radio']) {
  -webkit-appearance: none;
}

// Custom radio button image code from:
// http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
// Thanks Stephen
input[type='radio']:not(old) + label{
  display: inline-block;
  margin: 0.5em 0;
  margin-left: -24px;
  padding-left: 30px;
  background: url('/assets/images/radioButton.svg') no-repeat 0 0;
  line-height: 28px;
  background-size: 28px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -30px;
}

// Placeholder styling
// Thanks toscho at https://stackoverflow.com/a/2610741
// ------------------------------------------------------------
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $color-gray;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $color-gray;
  opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $color-gray;
  opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $color-gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $color-gray;
}

// Mailchimp form styles
.ctaCard__collectEmailForm {
  position: relative;
}

.mce_inline_error {
  background: rgba($colorRed, .2);
}

.mce-responses {
  background: $colorWhite;
  color: $colorGray;
  font-size: 0.75em;
  position: absolute;
  top: 110%;
  z-index: 1;

  a {
    color: inherit;
    font-weight: normal;
  }

  &__response {
    padding: 1em;
    border: 1px solid $colorGray;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
    width: 100%;

    &::before {
      margin-right: 0.75em;
      font-size: 1.5em;
    }

    &.is-success {
      &::before {
        content: '✔';
      }
      color: $colorGreen;
      border-color: $colorGreen;
    }

    &.is-error {
      &::before {
        content: 'x';
        font-weight: bold;

      }

      color: $colorRed;
      border-color: $colorRed;
    }
  }
}
