.card {
  background-color: $base-background-color;
  border: $base-border-style;
  border-radius: $base-border-radius;
  margin: $base-spacing;
  padding: $base-spacing;

  &__headline {}
  &__content {}
  &__button {}
}
