.site-header {
  background-color: $color-red;
  display: flex;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $base-spacing * 2;

  @include medium-screen-up { background-color: $color-white; }

  &__logo {
    background-color: $color-red;
    background-position: center center;
    background-repeat: no-repeat;

    img {
      padding: $base-spacing * 1.5 $base-spacing;
      width: 100px;
    }
  }

  &__banner {
    @include medium-screen-up {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: $base-spacing * 2;
    }
  }

  &__title { margin-top: 0; }
}
