$overlapMeasurement_topicStrip: $base-block-spacing * 5;

.topicStripsContainer {
  @include baseModuleFontSize;
  margin-left: -$base-block-spacing * 1;
  margin-right: -$base-block-spacing * 1;
  padding: $base-block-spacing * 1;
  padding-top: $overlapMeasurement_topicStrip;
  margin-top: -$overlapMeasurement_topicStrip;
  background-color: $color-gray-light;

  @include desktop {
    margin-left: -$base-block-spacing * 4;
    margin-right: -$base-block-spacing * 4;
    padding: $base-block-spacing * 4;
    padding-top: $overlapMeasurement_topicStrip;
    margin-top: -$overlapMeasurement_topicStrip;
  }
}

.topicStrip {
  margin: 4em 0;

  @include tablet {
    display: flex;
    align-items: flex-end;

    &__image {
      margin-right: $base-block-spacing;
      flex: 1 0 380px;
    }

    &__headline {
      font-size: 1.6em;
    }
  }

  &:first-of-type {
    margin-top: $base-block-spacing;
  }

  &:last-of-type {
    margin-bottom: $base-block-spacing * 2;

    @include desktop {
      margin-bottom: $base-block-spacing;
    }
  }

  &__headline {
    margin: 0.25em 0;
    font-size: 1.4em;
  }

  &__content p {
    margin: 0;
  }
}
