$overlap: $base-block-spacing * 5;

.topic-strips {
  background: $color-gray-light;
  margin-top: -$overlap;
  padding: $overlap 0 $base-block-spacing 0;
  position: relative;

  // Creates effect of a gray background that extends to the edges
  &::after {
    background: $color-gray-light;
    content: '';
    height: 100%;
    left: -50%;
    position: absolute;
    top: 0;
    width: 300%;
    z-index: -1;
  }
}

.topic-strip {
  margin-bottom: 4em;

  &__image {
    margin-right: $base-block-spacing;
  }

  @include tablet {
    align-items: flex-end;
    display: flex;
  }

  &__headline {
    font-size: 1.4em;
    margin: 0.25em 0;
  }

  &__content p {
    margin: 0;
  }
}
