{{ define "main" }}
<main class="main">
  <div class="main__greeting--followedByOverlapEffectElem">
    {{ .Params.callout | markdownify }}
  </div>

  <div class="containerPageContentArea">
    <div class="pageContentArea">
      <div class="pageContentArea__image">
        <img src="{{ .Params.image.src }}" alt="{{ .Params.image.alt }}">
      </div>
      {{ .Content }}
    </div>
  </div>

  <div class="containerCta">
    <div class="ctaCard">
      <h1 class="ctaCard__headline">Ready to join?</h1>
      <p class="ctaCard__content">
        Let’s go! We’ll help you become a national member, and get you on board locally.
      </p>
      <a class="button ctaCard__button">Join Us</a>
    </div>

    {{ partial "email-signup-card.html" . }}

  </div>
</main>
{{ end }}
