<div class="ctaCard">
  <h1 class="ctaCard__headline">Sign up for our newsletter</h1>
  <p class="ctaCard__content">
    Stay in touch! Join our newsletter to learn about upcoming events and community actions.
  </p>

  <!-- Begin MailChimp Signup Form -->
  <form action="https://portlanddsa.us17.list-manage.com/subscribe/post?u=82d186d1f2169112a7c9eaa59&amp;id=d4cf65a40f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate ctaCard__collectEmailForm" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email ctaCard__collectEmailForm__textInput" id="mce-EMAIL" placeholder="Email address" />
    <div id="mce-responses" class="mce-responses">
      <div id="mce-error-response" class="mce-responses__response is-error" style="display:none"></div>
      <div id="mce-success-response" class="mce-responses__response is-success" style="display:none"></div>
    </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_82d186d1f2169112a7c9eaa59_d4cf65a40f" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button ctaCard__collectEmailForm__button">
  </form>
</div>
<!--End mc_embed_signup-->
