<footer class="footer">
  <div class="footer__nameAndEmail">
    Democratic Socialists of America<br>
    Portland, Oregon Chapter<br>
    <a href="mailto:info@portlanddsa.org">info@PortlandDSA.org</a>
  </div>

  <div class="socialLinks--footer">
    <ul class="socialLinks--footer__itemContainer">
      <li class="socialLinks--footer__item"><a class="socialLinks--footer__item__link--twitter"   href="https://twitter.com/portlanddsa">Twitter</a></li>
      <li class="socialLinks--footer__item"><a class="socialLinks--footer__item__link--facebook"  href="https://www.facebook.com/PortlandDSA/">Facebook</a></li>
      <li class="socialLinks--footer__item"><a class="socialLinks--footer__item__link--instagram" href="https://www.instagram.com/portlanddsa/">Instagram</a></li>
    </ul>
  </div>
</footer>
