<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ $.Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="./assets/css/app.css"/>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <header class="header--isClosedMenu">
  <div class="nameplate">
    <div class="nameplate__logo"></div>
    <h1 class="nameplate__title">
      <a href="static_home.html">
      Democratic Socialists <span class="forcedLinebreak"></span> of America<br>
      <span class="nameplate__title__cityState">Portland, Oregon</span>
      </a>
    </h1>
  </div>

  <nav class="nav">
    <a class="nav__toggleButton">Menu</a>
    <ul class="nav__itemContainer">
    <li class="nav__item mobileOnly"><a class="nav__itemLink" href="static_home.html">Home</a></li>
    <li class="nav__item"><a class="nav__itemLink" href="static_who.html">Who we are</a></li>
    <li class="nav__item"><a class="nav__itemLink" href="static_what.html">What is democratic socialism</a></li>
    <li class="nav__item"><a class="nav__itemLink" href="static_calendar.html">Calendar</a></li>
    <li class="nav__item"><a class="nav__itemLink" href="static_join.html">Join us</a></li>
    </ul/>
  </nav>
</header>
<body>

