<header class="site-header">
  <div class="site-header__logo">
    <img alt="" src="/assets/images/portland-dsa-logo.svg"/>
  </div>
  <div class="site-header__banner">
    <h1 class="site-header__title">
      <a href="/">
        Democratic Socialists
        <span class="forcedLinebreak"></span> of America<br>
        <span class="nameplate__title__cityState">Portland, Oregon</span>
      </a>
    </h1>

    <nav class="nav">
      <button class="nav__toggle-button">Menu</button>
      <ul class="nav__menu">
        {{ range .Site.Menus.main }}
        <li class="nav__menu-item">
          <a href="{{ .URL }}" class="nav__menu-item__link">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>

</header>

