{{ define "main" }}
<main class="main">
  <div class="main__greeting">
    {{ .Content }}
  </div>

<div class="containerCta">
  {{ partial "cta-join.html" . }}
  {{ partial "cta-subscribe.html" . }}
</div>

<div class="topic-strips">
  {{ range .Params.blocks }}
  <article class="topic-strip">
    <div class="topic-strip__image">
      <img src="{{ .blockImage }}" alt="Placeholder image">
    </div>
    <div class="topic-strip__textContentContainer">
      <h1 class="topic-strip__headline">{{ .blockTitle }}</h1>
      <div class="topic-strip__content">
        {{ .blockContent | markdownify }}
      </div>
    </div>
  </article>
  {{ end }}
</div>

</main>
{{ end }}
