{{ define "main" }}
<main class="main">

  <div class="main__greeting">
    {{ .Content }}
  </div>

<div class="containerCta">
  {{ partial "cta-join.html" . }}
  {{ partial "cta-subscribe.html" . }}
</div>

{{ range .Params.blocks }}
<div class="topicStripsContainer">
  <article class="topicStrip">
    <div class="topicStrip__image">
      <img src="{{ .blockImage }}" alt="Placeholder image">
    </div>
    <div class="topicStrip__textContentContainer">
      <h1 class="topicStrip__headline">{{ .blockTitle }}</h1>
      <div class="topicStrip__content">
        {{ .blockContent | markdownify }}
      </div>
    </div>
  </article>
</div><!-- /topicStripsContainer -->
{{ end }}

</main>
{{ end }}
