{{ define "main" }}
{{ with .Params.callout }}
<div class="container">
  <div class="intro">
    <p>
      {{ . }}
    </p>
  </div>
</div>
{{ end }}

<div class="fullwidth-section">
  <div class="container">
    <div class="join-us">
      <div class="join-us__inner">
        {{ .Content }}
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="{{ $.Site.Params.mailChimpSignup }}"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate formWorkWithUs"
                target="_blank"
                novalidate>

            <div class="mc-field-group">
              <input type="text"
                     value=""
                     name="FNAME"
                     class=""
                     id="mce-FNAME"
                     placeholder="First name">
            </div>

            <div class="mc-field-group">
              <input type="text"
                     value=""
                     name="LNAME"
                     class=""
                     id="mce-LNAME"
                     placeholder="Last name">
            </div>

            <div class="mc-field-group">
              <input type="email"
                     value=""
                     name="EMAIL"
                     class="required email"
                     id="mce-EMAIL"
                     placeholder="Email address">
            </div>

            <div class="mc-field-group">
              <input type="text"
                     value=""
                     name="MMERGE3"
                     class=""
                     id="mce-MMERGE3"
                     placeholder="Zip code">
            </div>

            <div class="mc-field-group">
              <input type="text"
                     name="MMERGE4"
                     class=""
                     value=""
                     id="mce-MMERGE4"
                     placeholder="Phone number">
            </div>

            <div id="mce-responses" class="mce-responses">
              <div id="mce-error-response"
                   class="mce-responses__response is-error"
                   style="display:none">
              </div>
              <div id="mce-success-response"
                   class="mce-responses__response is-success"
                   style="display:none">
              </div>
            </div>

            <!-- real people should not fill this in and expect good things - do
                 not remove this or risk form bot signups -->
            <div style="position: absolute; left: -5000px;"
                 aria-hidden="true">
              <input type="text"
                     name="b_82d186d1f2169112a7c9eaa59_d4cf65a40f"
                     tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit"
                     value="Sign up"
                     name="subscribe"
                     id="mc-embedded-subscribe"
                     class="button">
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>
{{ end }}
