.footer {
  @include baseModuleFontSize;
  margin-bottom: $base-block-spacing * 2;
  margin: $base-block-spacing;
  position: relative;

  &__nameAndEmail {
    font-size: 0.8rem;
  }
}

.socialLinks--footer {
  @include socialLinks(30px, 30px);

  @include tablet {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
