html,
body {
  font-family: $base-font-family;
  margin: 0;
  padding: 0;
}

p {
  font-size: $type-size-medium;
  line-height: $base-line-height;

  @include medium-screen-up {
    font-size: 1.25em;
  }
}

a:link,
a:visited {
  color: $color-red;
}

a:hover,
a:active {
  color: $color-red-dark;
}

::selection {
  background-color: $color-black;
  color: $color-white;
}
