.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: $base-spacing;

  &--grid {
    display: grid;
    grid-gap: $base-spacing;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.fullwidth-section {
  background-color: $color-gray-light;
  padding: $base-spacing;

  & > .container {
    padding-left: 0;
    padding-right: 0;
  }
}
