.site-header {
  background-color: $color-red;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $base-spacing * 2;

  @include medium-screen-up {
    background-color: $color-white;
    display: flex;
  }

  &__logo {
    background-color: $color-red;
    background-position: center center;
    background-repeat: no-repeat;

    @include medium-screen-up {
      img {
        padding: $base-spacing * 1.5 $base-spacing;
        width: 100px;
      }
    }
  }

  &__banner {
    @include medium-screen-up {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-end;
      padding-left: $base-spacing * 2;
    }
  }

  &__title {
    margin-top: 0;
  }
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: $base-spacing;
}

.container--flex {
  @include medium-screen-up {
    display: flex;
    flex-flow: row nowrap;
  }
}

.fullwidth-section {
  background-color: $color-gray-light;
  padding: $base-spacing;
}
