$overlapMeasurement_pageContentArea: $base-block-spacing * 4.5;

.main {
  margin: $base-block-spacing;
  line-height: 1.4;

  &__greeting {
    @include tablet {
      margin: $base-block-spacing 0;
      margin-bottom: $base-block-spacing * 2;
    }
  }

  &__greeting,
  &__greeting--followedByOverlapEffectElem {
    font-size: 1.3em;
    margin-bottom: $base-block-spacing * 2;

    @include tablet {
      font-size: 1.5em;
      line-height: 1.5;
    }
  }

  &__greeting--followedByOverlapEffectElem {
    margin-bottom: $overlapMeasurement_pageContentArea * 1.5;
  }
}

.containerCta {
  position: relative;
  margin: $base-block-spacing 0;
  z-index: 1;
}

.ctaCard {
  @include baseModuleFontSize();
  background: $color-white;
  border: $base-border-style;
  border-radius: $base-border-radius;
  margin: $base-block-spacing 0;
  padding: $base-block-spacing * 1.5;

  &__headline {
    font-size: 1.2em;
    line-height: 1;
  }

  &__content {
    margin: 1em 0;
  }

  &__collectEmailForm {
    &__textInput {
      width: 65%;
      margin-bottom: 1em;
      border: $base-border-style;
    }

    &__button {
      padding: $klima-font-hack;
    }
  }
}

.containerPageContentArea,
.containerPageContentArea--pageJoin {
  @include baseModuleFontSize();

  // Stretch out beyond our parent container for full bleed background
  margin-left: -$base-block-spacing * 1;
  margin-right: -$base-block-spacing * 1;
  padding: $base-block-spacing * 1;

  // Pull up item below (which should always be .containerCta)
  // for overlap effect
  padding-bottom: $overlapMeasurement_pageContentArea * 2;
  margin-bottom: -$overlapMeasurement_pageContentArea * 2;

  background-color: $color-gray-light;

  .pageContentArea {
    &__image {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -$overlapMeasurement_pageContentArea;
    }

    &__headline {
      margin: 1em 0;
      text-align: center;
    }

    &__section {
      margin: 6em 0;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}



// ##################################################################
// ####### Media Queries ############################################
// ##################################################################


// =====================
// = TABLET and larger =
// =====================
@media screen and (min-width: $breakpoint-tablet) {

body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.containerCta,
.containerCta--center {
  display: flex;
  justify-content: space-between;
  z-index: 1;

  &--center {
    justify-content: center;
  }
}

.ctaCard {
  width: 49%;

  &__headline {
    font-size: 1.5em;
  }

  &__collectEmailForm {
    display: flex;

    &__textInput {
      margin: 0;
    }

    &__button {
      margin: 0; // margin is a Safari fix
      width: 80%; // width 80% is an iPad fix (iOS 9)
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}


}

// =====================
// = LAPTOP and larger =
// =====================

@media screen and (min-width: $breakpoint-desktop) {
  .ctaCard {
    width: 48%;
  }

  .containerPageContentArea,
  .containerPageContentArea--pageJoin {
    // Stretch out beyond our parent container for full bleed background
    margin-left: -$base-block-spacing * 4;
    margin-right: -$base-block-spacing * 4;
    padding: $base-block-spacing * 4;

    // Pull up item below (which should always be .containerCta)
    // for overlap effect
    padding-bottom: $overlapMeasurement_pageContentArea * 2;
    margin-bottom: -$overlapMeasurement_pageContentArea * 2;

    .pageContentArea {
      padding: 0 8em;

      &__image {
        margin-top: -$overlapMeasurement_pageContentArea * 1.6;
      }
    }
  }

  .containerPageContentArea--pageJoin {
    padding-top: $base-block-spacing;
  }
}

